.ant-page-header-heading {
    display: flex;
    justify-content: space-between;
}

.header-title {
    color: #00A97F;
    display: flex;
    flex-direction: row;
}

.header-icon {
    align-self: center;
    margin-right: 1%;
}

.header-title-font {
    align-self: center;
    margin-right: 1%;
    margin-bottom: 0;
    ;
}

.footer {
    opacity: 0.45;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-love {
    color: #ff7875;
}


/* Media Breakpoint*/

@media screen and (max-width: 480px) {
    .header-title-font {
        display: none;
    }
    .header-icon {
        margin-top: 5px;
    }
}