// dark-theme.less

@import "./node_modules/antd/lib/style/color/colorPalette.less";
@import "./node_modules/antd/dist/antd.dark.less";

@primary-color: #00A97F;
@border-radius-base: 4px;

.g2-tooltip{
    background-color: black;
}

/* Header */

.ant-layout-header{
    padding-left: 0px;
    padding-right: 0px;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    opacity: 0;
    box-shadow: inset 0 0 0px grey;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 5px;
}
