.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

.progress-bar {
    padding-left: 5%;
    padding-right: 2px;
    width: 95%;
}

.title-extra {
    opacity: 0.45;
}

.icon {
    align-self: center;
    margin-right: 1%;
}